mixin nan(opt)
	if !isNaN(opt)
		| $ #{opt}
	else
		| No Disponible
extends layout

block content
	include share
	include header
	.container-fluid(style="padding-top:0")
		.row
			if tipo == 1
				.col-md-6.tripdesc.col-xs-6
					h2.hidden-xs: a(href="/funcionario/"+datos1[0].Funcionario_id._id) #{datos1[0].Funcionario_id.Nombre.Nombres}
					h3 #{datos1[0].Funcionario_id.Nombre.ApellidoP +" "+ datos1[0].Funcionario_id.Nombre.ApellidoM}
				.col-md-6.tripdesc.col-xs-6
					h2.hidden-xs: a(href="/funcionario/"+datos2[0].Funcionario_id._id) #{datos2[0].Funcionario_id.Nombre.Nombres}
					h3 #{datos2[0].Funcionario_id.Nombre.ApellidoP +" "+ datos2[0].Funcionario_id.Nombre.ApellidoM}
			else
				.col-md-6.tripdesc.col-xs-6
					h2.hidden-xs: a(href="/profile/"+datos1[0].Consecutivo) #{datos1[0].Consecutivo}
					h3 #{datos1[0].FechaInicio +" - "+ datos1[0].FechaFin}
				.col-md-6.tripdesc.col-xs-6
					h2.hidden-xs: a(href="/profile/"+datos2[0].Consecutivo) #{datos2[0].Consecutivo}
					h3 #{datos2[0].FechaInicio +" - "+ datos2[0].FechaFin}
	.container.main
		.row
			.col-md-8.col-md-offset-2
				.card
					.chart#chart2
		.row
			.col-md-8.col-md-offset-2
				.row
					.col-md-6
						.card
							.chart#chart1
					.col-md-6
						.card
							.chart#chart1-2
		.row
			.col-md-8.col-md-offset-2
				.card
					.card-content
						table.table.table-responsive.table-striped
							thead
								tr
									th Datos
									th #{datos1[0].Consecutivo}
									th #{datos2[0].Consecutivo}
							tbody
								if tipo == 1
									tr
										td Viajes
										td #{count1}
										td #{count2}
									tr
									td Gasto en pasaje
									td
										+nan(totales.totalpasajes1)
									//td $ #{totales.totalpasajes1}
									td
										+nan(totales.totalpasajes2)
									//$ #{totales.totalpasajes2}
								tr
									td Gasto en hospedaje
									td
										+nan(totales.toatlhospedaje1)
									td
										+nan(totales.toatlhospedaje2)
								//	td $ #{totales.toatlhospedaje1}
									td $ #{totales.toatlhospedaje2}
								tr
									td Gasto en viaticos
									td
										+nan(totales.totalviaticos1)
									td
										+nan(totales.totalviaticos2)
								//	td $ #{totales.totalviaticos1}
									td $ #{totales.totalviaticos2}

								if tipo == 1
									tr
										td Puesto
										td #{datos1[0].Funcionario_id.Trabajo.Puesto}
										td #{datos2[0].Funcionario_id.Trabajo.Puesto}
									tr
										td Cargo
										td #{datos1[0].Funcionario_id.Trabajo.Cargo}
										td #{datos2[0].Funcionario_id.Trabajo.Cargo}
									tr
										td Unidad Administrativa
										td #{datos1[0].Funcionario_id.Trabajo.UnidadAdministrativa}
										td #{datos2[0].Funcionario_id.Trabajo.UnidadAdministrativa}
								else 
									tr
										td Comprobados
										td
											+nan(datos1[0].ViaticosComp)
										td
											+nan(datos2[0].ViaticosComp)
									//	td #{datos1[0].ViaticosComp}
										td #{datos2[0].ViaticosComp}
									tr
										td No comprovados
										td
											+nan(datos1[0].ViaticosNoComp)
										td
											+nan(datos2[0].ViaticosNoComp)
									//	td #{datos1[0].ViaticosNoComp}
										td #{datos2[0].ViaticosNoComp}
									tr
										td Devueltos
										td
											+nan(datos1[0].ViaticosDevueltos)
										td
											+nan(datos2[0].ViaticosDevueltos)
									//	td #{datos1[0].ViaticosDevueltos}
										td #{datos2[0].ViaticosDevueltos}
									tr
										td Tarifa Diaria
										td #{datos1[0].TarifaDiaria} #{datos1[0].Moneda}
										td #{datos2[0].TarifaDiaria} #{datos2[0].Moneda}
									tr
										td Destino
										td #{datos1[0].Destino.Ciudad}
										td #{datos2[0].Destino.Ciudad}
									tr
										td Mecanismo de origen
										td #{datos1[0].MecanismoOrigen}
										td #{datos2[0].MecanismoOrigen}
									tr
										td Funcionario
										td: a(href="/funcionario/"+datos1[0].Funcionario_id._id) #{datos1[0].Funcionario_id.Nombre.Nombres +" "+ datos1[0].Funcionario_id.Nombre.ApellidoP}
										td: a(href="/funcionario/"+datos2[0].Funcionario_id._id) #{datos2[0].Funcionario_id.Nombre.Nombres + " " + datos2[0].Funcionario_id.Nombre.ApellidoP}
									tr
										td Cargo
										td #{datos1[0].Funcionario_id.Trabajo.Cargo}
										td #{datos2[0].Funcionario_id.Trabajo.Cargo}
									tr
										td Unidad Administrativa
										td #{datos1[0].Funcionario_id.Trabajo.UnidadAdministrativa}
										td #{datos2[0].Funcionario_id.Trabajo.UnidadAdministrativa}
								tr
									td Aclaraciones solicitadas
									td #{datos1[0].Aclaraciones}
									td #{datos2[0].Aclaraciones}

	script(src="/javascripts/highcharts.js")
	script(src ="/javascripts/exporting.js")
	script.
		$(function () {
			$('#chart1').highcharts(#{grafica1});
			$('#chart1-2').highcharts(#{grafica12});
			$('#chart2').highcharts(#{grafica2});
			});
	include footer