mixin sumas(viaje,viaticos,hospedaje)
  -var sum = 0
  -var items = [viaje,viaticos,hospedaje]
  each i in items
    if !isNaN(i)
      - sum += i
  | #{sum}
mixin nan(opt)
  if !isNaN(opt)
    | $ #{opt}
  else
    | No Disponible
extends layout

block content
  include header
  include share
  img.img-circle.img-responsive(src="/images/user.jpg" style="position: absolute; left:6.4rem;top:12.8rem;border: 5px solid white;width:12.8rem;height:12.8rem;z-index:5;")
  //#map(style='background-image: url(/images/fondo1.jpg)')
  //#map(style='background-color: #009688')
  .container-fluid
  .container#main
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title
            span.md-title #{Funcionario.Nombre.Nombres} #{Funcionario.Nombre.ApellidoP}  #{Funcionario.Nombre.ApellidoM}
          hr.divider
          .card-content
            .row
              .col-md-6
                dl.dl-horizontal
                  dt  Puesto: 
                  dd  #{Funcionario.Trabajo.Puesto}
                  dt  Clave:
                  dd  #{Funcionario.Trabajo.Clave}
              .col-md-6
                dl.dl-horizontal
                  dt  Cargo: 
                  dd  #{Funcionario.Trabajo.Cargo}
                  dt Cargo Superiro:
                  dd  #{Funcionario.Trabajo.CargoSuperior}
              dl.dl-horizontal
                dt  Unidad Administrativa:
                dd  #{Funcionario.Trabajo.UnidadAdministrativa}
    .row
      .col-md-8.col-md-offset-2
        .card
          .row
            .col-md-12
              .chart#chartFuncionario
    .row
      .col-md-8.col-md-offset-2
        .card(style="height:70px")
          .card-control
            - var name = Funcionario.Nombre.Nombres.split(' ')[0]+'-'+Funcionario.Nombre.ApellidoP.split(' ')[0]
            - var ID = Funcionario._id
            span.glyphicon.glyphicon-check.pull-left.compare-icon.f(id=name aidi=ID)
            .flat-btn.pull-right.normal(data-toggle="modal" data-target="#seguir") Seguir
    .row
      .col-md-8.col-md-offset-2
        .card
          .row
            .col-md-12
              table.table-responsive.table-striped.table
                thead
                  tr
                    th Fecha del Viaje
                    th Destino
                    th Pasaje
                    th Hospedaje
                    th Viaticos
                    th Total
                tbody
                  each val in viajes
                    tr
                      td: a(href = "/profile/" + val.Consecutivo) #{val.FechaInicio} - #{val.FechaFin}
                      td #{val.Destino.Estado}
                      td
                        +nan(val.GastoPasaje)
                      td
                        +nan(val.CostoHospedaje)
                      td
                        +nan(val.GastosViaticos)
                      td
                        +sumas(val.GastosViaticos, val.GastoPasaje, val.CostoHospedaje)
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title  Contacto
          hr.divider
          .card-content
            dl.dl-horizontal
              dt  E-Mail:
              dd  #{Funcionario.Correo}
              dt  Facebook:
              dd: a(href="https://www.facebook.com/") NameFacebook
              dt Twitter:
              dd: a(href="https://twitter.com/") NameTwitter
  script(src="/javascripts/highcharts.js")
  script(src ="/javascripts/exporting.js")
  script.
    $(function () {$('#chartFuncionario').highcharts(#{grafica});})
  include ./footer