extends layout

block content
	include header
	.container-fluid
		.row
			.col-md-8.col-md-offset-2
				ul#tabs.nav.nav-tabs.nav-justified(role="tablist")
					li.active: a(href="#pane1" data-toggle="tab") General
					li: a(href="#pane2" data-toggle="tab") Viaticos
					li: a(href="#pane3" data-toggle="tab") Hospedaje
					li: a(href="#pane4" data-toggle="tab") Respaldo
	.container.tabbable.col-md-8.col-md-offset-2(style="margin-top:19.2rem")
		.row.tab-content.card
			form(method="post" action="#")
			.col-md-12.tab-pane.active#pane1
				.row
					.col-md-6
						.group
							input(type = "text" value = usuario.Nombre.Nombres +" "+usuario.Nombre.ApellidoP +" "+usuario.Nombre.ApellidoM)
							span.highlight
							span.bar
							label Nombre
						.group
							input(type = "text" value = usuario.Trabajo.Cargo)
							span.highlight
							span.bar
							label Cargo
						.group
							input(type = "text" value = usuario.Trabajo.Clave)
							span.highlight
							span.bar
							label Clave
						.group
							input(type = "text" value = usuario.Trabajo.UnidadAdministrativa)
							span.highlight
							span.bar
							label Unidad Responsable
						select
							option Mecanismo de generacion:
							option Invitacion
							option Requerimiento de UR
						.group
							input(type = "text" value = usuario.Trabajo.UnidadAdministrativa)
							span.highlight
							span.bar
							label Unidad Generadora
						select
							option Tipo de representación
							option Técnico
							option Alto Nivel
						select
							option Tipo de comisión
							each i in catalogoComisiones
								option #{i.Tipo}
						select
							option Tema
							each i in catalogoTemas
								option #{i.Tema}
					.col-md-6
						.group
							input(type='text')
							span.highlight
							span.bar
							label Numero de comisión
						select(name="tipo")
							option Tipo de Viaje
							option(selected) Nacional
							option Internacional
						.group
							input(type="date")
							span.highlight
							span.bar
							label Fecha de inicio de la comisión
						.group
							input(type="date")
							span.highlight
							span.bar
							label Fecha de término de la comisión
						.group
							input(type='text')
							span.highlight
							span.bar
							label Nombre del evento
			.col-md-12.tab-pane#pane2
				.row
					.col-md-6 Origen
						select
							option Estado:
							each edo in catalogoEdos
								option #{edo}
						select
							option Municipio
							each mpio in catalogoMpios
								option #{mpio}
					.col-md-6 Origen
						select
							option Estado:
							each edo in catalogoEdos
								option #{edo}
						select
							option Municipio
							each mpio in catalogoMpios
								option #{mpio}
				.row Pasaje
					.col-md-6 Origen
						.group
							input(type = "text" required)
							span.highlight
							span.bar
							label Linea
						.group
							input(type="text" required)
							span.highlight
							span.bar
							label Vuelo
					.col-md-6 Regreso
						.group
							input(type = "text" required)
							span.highlight
							span.bar
							label Linea
						.group
							input(type="text" required)
							span.highlight
							span.bar
							label Vuelo
					.col-md-12
						.group
							input(type = "text" required)
							span.highlight
							span.bar
							label Gasto
						.group
							input(type = "text" required)
							span.highlight
							span.bar
							label Gasto
			.col-md-12.tab-pane#pane3
				.group
					input(type="text" required)
					span.highlight
					span.bar
					label e-mail
				a#4.btn.flat-btn Siguiente
			.col-md-12.tab-pane#pane4
				.group
					input(type="text" required)
					span.highlight
					span.bar
					label 4
				button.btn.flat-btn.pull-right(type="submit") Agregar
	script(src="/javascripts/select2.js")
	script(src="/javascripts/form.js")
