mixin sumas(viaje,viaticos,hospedaje)
  -var sum = 0
  -var items = [viaje,viaticos,hospedaje]
  each i in items
    if !isNaN(i)
      - sum += i
  | #{sum}
mixin nan(opt)
  if !isNaN(opt)
    | $ #{opt}
  else
    | No Disponible

extends layout

block content
  include sidebar
  include header
  include share
  .container-fluid
  .container#main
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title 
            span.md-title Detalles de Viaje
          hr.divider
          .card-content
            .row
              .col-md-6
                dl.dl-horizontal
                  dt  Funcionario: 
                  dd: a(href="/funcionario/"+ viajedate.Funcionario_id._id) #{viajedate.Funcionario_id.Nombre.Nombres} #{viajedate.Funcionario_id.Nombre.ApellidoP} #{viajedate.Funcionario_id.Nombre.ApellidoM }
                  dt  Puesto:
                  dd  #{viajedate.Funcionario_id.Trabajo.Puesto}
                  dt  Unidad Administrativa: 
                  dd  <br>#{viajedate.Funcionario_id.Trabajo.UnidadAdministrativa}
                  dt  Consecutivo Asignado: 
                  dd  #{viajedate.Consecutivo}
              .col-md-6
                dl.dl-horizontal
                  dt  Mecanismo: 
                  dd  #{viajedate.MecanismoOrigen}
                  dt  Tema: 
                  dd  #{viajedate.Tema}
                  dt  Tipo de Comision: 
                  dd  #{viajedate.TipoComision}
                  dt: span.glyphicon.glyphicon-calendar
                  dd #{viajedate.FechaInicio} -  #{viajedate.FechaFin}
                  dt: h3 
                    span.glyphicon.glyphicon-usd
                  dd: h3 
                    +sumas(viajedate.GastoPasaje,viajedate.GastosViaticos,viajedate.CostoHospedaje)
    .row
      .col-md-8.col-md-offset-2
        .card(style="height:70px")
          .card-control
            span.compare-icon.glyphicon.glyphicon-check.pull-left(id=viajedate.Consecutivo)
            span Aclaraciones:
              span.badge#Aclaraciones 25
            .flat-btn.pull-right(data-toggle="modal" data-target="#Aclarar") Solicitar  Aclaración
            .flat-btn.pull-right.normal(data-toggle="modal" data-target="#seguir") Seguir
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title  Origen - Destino
          hr.divider
          .card-content
            .row
              .col-md-6
                dl.dl-horizontal
                  dt: span.glyphicon.glyphicon-map-marker
                  if viajedate.Tipo == "Nacional"
                    dd  #{viajedate.Origen.Estado}, #{viajedate.Origen.Ciudad}   
                  else
                    dd  #{viajedate.Origen.Pais}, #{viajedate.Origen.Ciudad}, #{viajedate.Origen.Estado}
                  if viajedate.Pasaje.TipoPasaje == "Aéreo" || viajedate.Pasaje.TipoPasaje == "Aereo"
                    dt: span.glyphicon.glyphicon-plane
                    dd  #{viajedate.Pasaje.LineaOrigen} , Número: #{viajedate.Pasaje.VueloOrigen}
                    dt Cubierto por: 
                    dd  #{viajedate.Pasaje.CubrePasaje}
                  else 
                    dt: span.glyphicon.glyphicon-road
                    dd  #{viajedate.Pasaje.TipoPasaje}
              .col-md-6
                dl.dl-horizontal
                  dt: span.glyphicon.glyphicon-map-marker
                  if viajedate.Tipo = "Nacional"
                    dd  #{viajedate.Destino.Estado}, #{viajedate.Destino.Ciudad}   
                  else
                    dd  #{viajedate.Destino.Pais}, #{viajedate.Destino.Ciudad}, #{viajedate.Origen.Estado}
                  if viajedate.Pasaje.TipoPasaje == "Aéreo" || viajedate.Pasaje.TipoPasaje == "Aereo"
                    dt: span.glyphicon.glyphicon-plane
                    dd  #{viajedate.Pasaje.LineaRegreso}, Número: #{viajedate.Pasaje.VueloOrigen}
                  else 
                    dt: span.glyphicon.glyphicon-road
                    dd  #{viajedate.Pasaje.TipoPasaje}
                  dt  Hotel
                  dd  #{viajedate.Hospedaje.NombreHotel}
                  dt: span.glyphicon.glyphicon-calendar
                  dd  #{viajedate.Hospedaje.FechaEntrada} - #{viajedate.Hospedaje.FechaSalida}
                  dt  Cubierto por:
                  dd  #{viajedate.Hospedaje.CubreHospedaje}
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title Detalles de gastos
          hr.divider
          .card-content
            table.table-responsive.table-striped.table
              tbody
              tr
                td Pasaje
                td
                  +nan(viajedate.GastoPasaje)
              tr
                td  Hospedaje
                td
                  +nan(viajedate.CostoHospedaje)
              tr
                td Viaticos
                td
                  +nan(viajedate.GastosViaticos)
              tr
                td Tarifa Diaria
                td
                  +nan(viajedate.TarifaDiaria)
                  |  #{viajedate.Moneda}
              tr
                td Viaticos Comprobados
                td
                  +nan(viajedate.ViaticosComp)
              tr
                td Viaticos No Comprobados
                td
                  +nan(viajedate.ViaticosNoComp)
              tr
                td Viaticos Devueltos
                td
                  +nan(viajedate.ViaticosDevueltos)
    .row
      .col-md-8.col-md-offset-2
        .card
          .details-title  Respaldo del Viaje
          hr.divider
          .card-content
            .row
              .col-md-6
                dl.dl-horizontal
                  dt  Instituto que Solicita:
                  dd  #{viajedate.InstitutoGenera}
                  dt  Tipo de reprecentacion:
                  dd  #{viajedate.TipoRepresentacion}
              .col-md-6
                dl.dl-horizontal
                  dt  Unidad responsable: 
                  dd  #{viajedate.UnidadResponsable} 
                  dt  Oficio:
                  dd  #{viajedate.Oficio}
                  dt  Acuerdo:
                  dd  #{viajedate.Acuerdo}
            dl.dl
              dt  Nombre del evento:
              dd  #{viajedate.DatosEvento.Nombre}
              dt: span.glyphicon.glyphicon-calendar  #{viajedate.DatosEvento.FechaInicioPart} - #{viajedate.DatosEvento.FechaFinPart}
              dt: span.glyphicon.glyphicon-link  #{viajedate.DatosEvento.URL}
              dt  Motivo de Comision:
              dd  #{viajedate.MotivoComision}
              dt  Actividad Realizada:
              dd  #{viajedate.Actividad}
              dt  Contribucion:
              dd  #{viajedate.Contribucion}
              dt  Resultado Obtenido:
              dd  #{viajedate.Resultado}
              dt  URL Comunicado:
              dd  #{viajedate.URLComunicado}
              dt  Antecedentes:
              dd  #{viajedate.Antecedentes}
              dt  Observaciones:
              dd  #{viajedate.Observaciones}
  include ./footer