mixin sumas(viaje,viaticos,hospedaje)
	-var sum = 0
	-var items = [viaje,viaticos,hospedaje]
	each i in items
		if !isNaN(i)
			- sum += i
	| #{sum}
extends layout

block content
	include header
	.container-fluid
		.row
			.col-md-8.col-md-offset-2#tabs-wrapper
				ul.nav.nav-tabs.nav-justified#tabs
					li: a(href="/search/top") Top
					li: a(href="/search/viajes") Viajes
					li: a(href="/search/funcionarios") Funcionarios
					li: a(href="/search/dependencias") Dependencias
	.container.tab-content.main
		.row
			.col-md-8.col-md-offset-2
				form(method="post" action="/search/viajes").form-inline
					input(type="text" name = "buscar" placeholder="Buscar ...")
					button(type="submit") Buscar
		.row.tab-pane.active.fade.in#top
			.container.col-md-8.col-md-offset-2
				.row
					each viaje in viajes
						.col-md-6
							.card.small
								.card-chip
									img(src="/images/user.jpg" alt="User").img-chip
									a(href='/funcionario/' + viaje.Funcionario_id._id) #{viaje.Funcionario_id.Nombre.Nombres} #{viaje.Funcionario_id.Nombre.ApellidoP }
								a(href ="/profile/" + viaje.Consecutivo)
									img(src='http://maps.googleapis.com/maps/api/staticmap?center='+viaje.Destino.Ciudad+'&zoom=10&size=400x250&maptype=roadmap&key=AIzaSyBhJ2RzDZjSI1rTjvfs9imr_WL61k16RD0&scale=1&format=jpg&sensor=FALSE' alt="Mapa").card-img
								.card-content
									p #{viaje.tema}
									p.green $
										+sumas(viaje.GastoPasaje,viaje.GastosViaticos,viaje.CostoHospedaje)
									p #{viaje.Consecutivo}
									p #{viaje.FechaInicio}
								.card-control
									span.compare-icon.glyphicon.glyphicon-check.pull-left(id=viaje.Consecutivo)
									a.flat-btn.pull-right(href ="/profile/" + viaje.Consecutivo) Ver más